.navbar{
    background-color: #1DA7EC;
    height: 80px;
    justify-content: flex-start;
    align-content: center;
    margin-top: 63px;
    direction: rtl;
    padding: 1.5rem;
}
.menu-bars {
    direction: rtl;
    margin-right: 2rem;
    margin-top: 3%;
    right: -100%;
    font-size: 2rem;
    background: none;
}
.nav-menu{
    background-color: #1DA7EC;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 63px;
    right: -100%;
    transition: 850ms;

}

.nav-menu.active {
    right:0 ;
    transition: 350ms;
}

.nav-text {
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 8px 0px ;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

}
.nav-text a:hover{
    background-color: aquamarine;
}
.nav-text span{
    padding-right: 20px;
}

.nav-menu-items {
    width: 100%;
}
.navbar-toggle{
    background-color: #282c34;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

