.showbookall_fa{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'BYekan' !important;    
}
.showbookall_paper{
    width: 155px;
    height: 272px;
}
.showbookall_img{
    height: "150px";
    width: "100px";
}
.showbookall_name{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}
.showbookall_author{
    text-align: center;
    color: "#757C86";
    font-size: 13px; 
    margin-top: 5px;
    text-decoration: none;
}
.showbookall_price{
    text-align: center;
    color: "#4DB200";

    font-size: "17px"; 
    margin-top: 5px;
    text-decoration: none;
}

@media (max-width: 900px ) and (min-width:600px) {
    .showbookall_paper{
        /* width: calc((90vw) / 4); */
        height: 280px;
    }
    .showbookall_name{
        font-size: 15px;
        margin-top: 15px;
    }
    .showbookall_author{
        font-size: 12px; 
        margin-top: 4px;
    }
    .showbookall_price{
        font-size: "16px"; 
        margin-top: 4px;
    }

}
@media (max-width: 1000px ) and (min-width:900px) {
    .showbookall_paper{
        /* width: calc((100vw) / 5); */
    }

}
@media (max-width: 600px) {
    .showbookall_paper{
        /* width: calc((90vw) / 3); */
        height: 270px;
    }
}
@media (max-width: 400px) {
    .showbookall_paper{
        /* width: calc((110vw) / 3); */
        height: 210px;
    }
    .showbookall_name{
        font-size: 12px;
        margin-top: 10px;
    }
    .showbookall_author{
        font-size: 9px; 
        margin-top: 2px;
    }
    .showbookall_price{
        font-size: "13px"; 
        margin-top: 2px;
    }
    .showbookall_paper{
        height: 296px;
    }
}