.Admin_Quizz_page{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 4% 7%;
    box-shadow: rgba(0, 0, 0, 0.443) 0px 2px 10px;
    border: #aaaaaa;
    padding: 2%;
}
.Admin_Quizz_page_inside{
    flexGrow: 1;
}

.Admin_Quizz_page_inside_box{
    padding: 3%;
    textAlign: 'center';
    width: 100%;
    margin-top:2% ;
    margin-bottom: 2%;

}
.Admin_Quizz_page_inside_dialog{
    padding: 30px;
    direction: rtl;
}
.quiz_dialog{

    box-shadow: rgba(0, 0, 0, 0.443) 0px 2px 10px;
    border: #aaaaaa;

}

.quiz_dialog_submit_btn{
    margin: 20px;
}
.Admin_Quizz_page_inside_dialog_listitems{
    margin-right: 40px;
}